:root {
    --primary: #e62424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/background.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    color: var(--primary);
    font-size: 10px;
    align-items: center;
    background: var(--primary);
    box-shadow: 3px 3px 5px #701c1c;
    box-sizing: border-box;
}

#logo {
    background: url(./assets/logo.png);
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    gap: 4rem;
}

button {
    background-color: var(--primary);
    border: none;
    color: #000;
    font-size: 32px;
}

button:hover {
    color: #fff;
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home styles */
.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: 40px;
    height: 100%;
}

.title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    text-align: left;
    font-size: 9rem;
    font-weight: bold;
    color: var(--primary);
    top: 46%;
    left: 50px;
}

.subtitle {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary);
    top: 64%;
    left: 50px;
}

/* Menu styles */
.menu-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 55rem;
    border: 12px solid #701c1c;
    background-color: #1a1a1a;
}

.menu-header {
    color: var(--primary);
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
}

.menu-items {
    color: var(--primary);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}

.item-card {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 10px;
    align-content: start;
}

.item-card img {
    width: 14rem;
    height: 14rem;
    border-radius: 20px;
    border: 3px solid #701c1c;
}

.item-name {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

/* About styles */
.about-container {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-card {
    background-color: #1a1a1a;
    border: 3px solid #701c1c;
    max-width: 56rem;
    height: 33rem;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-title {
    color: var(--primary);
    font-size: 40px;
    font-weight: 600;
    align-self: center;
}

.about-desc {
    color: var(--primary);
    font-size: 20px;
    text-align: center;
}